.versus-text {
  color: #bd0000;
  font-size: 9rem;
}

@media (max-width: 768px) {
  .versus-text {
    font-size: 7rem;
  }
}

@media (max-width: 425px) {
  .versus-text {
    font-size: 5rem;
  }
}

@media (max-width: 375px) {
  .versus-text {
    font-size: 4rem;
  }
}

@media (max-width: 280px) {
  .versus-text {
    font-size: 2.875rem;
  }
}
