@import url("https://fonts.googleapis.com/css?family=Sigmar+One");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Sigmar One";
}

.profile-body {
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
}

.wrapper .left {
  width: 75%;
  background: linear-gradient(to right, #61dafb, #87ceeb);
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
}

.wrapper .left img {
  margin-bottom: 10px;
  border-radius: 5px;
  border: 2px solid white;
}

.wrapper .left h4 {
  margin-bottom: 10px;
}

.warpper .left p {
  font-size: 12px;
}

.wrapper .right {
  width: 90%;
  background: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 30px 25px;
}

.wrapper .right .info h4 {
  font-size: 20px;
}

.wrapper .right .info h3 {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 3px solid #e0e0e0;
  color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
  width: 292px;
}

.wrapper .right .info_data .data p {
  margin-bottom: 10px;
  color: #919aa3;
}
.main-button {
  display: flex;
  justify-content: space-around;
  width: 18rem;
  margin: auto;
  margin-top: 1rem;
}
